.header-add,
.header-add__nav {
	display: flex;
	align-items: center;
}

.header-add {
	justify-content: space-between;
	margin: 0 0 24px;
	&__btn {
		width: 180px;
		margin: 0 16px 0 16px;
	}

	@media (max-width: 576px) {
		&__btn {
			width: 96px;
			margin: 0 8px 0 16px;
		}
	} 
}