.subtext-auth {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
	font-size: 16px;
	gap: 9px;
	&__link {
		font-weight: 500;
		color: #AD7955;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}