.video-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
	gap: 24px;
	margin: 24px 0;
	@media (max-width: 767px) { 
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}