.header {
	border-bottom: 1px solid #222;
	background: #111;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 11px 0;
	}

	@media (max-width: 767px) {
		&__row {
			width: 100%;
			justify-content: flex-start;
		}
	}
}
