.links-navbar {
	padding: 0 0 24px;
	border-bottom: 1px solid #222;
	&__link {
		font-size: 16px;
		color: #bbb;
		display: block;
		padding: 11px 10px;
		border-radius: 8px;
		&.active {
			background: #222;
			color: #fff;
		}
	}
	@media (max-width: 767px) {
		width: 100%;
		padding: 0;
		&__link {
			padding: 14px 26px;
			line-height: normal;
			border-radius: 0;
			&:hover {
				color: #bbb;
			}
			&.active {
				background: #333;
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
		}
	}
}
