.popup-btn {
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: 1px solid #ad7955;
	cursor: pointer;
	transition: background 0.2s;
	flex: 0 0 44px;
	&:hover {
		background: #222;
	}
	&__icon {
		width: 6px;
		height: 20px;
		fill: #ad7955;
	}
	&.disable {
		pointer-events: none;
		border-color: #777;
		& .popup-btn__icon {
			fill: #777;
		}
	}
}
