.popup-header {
	position: absolute;
	right: 0;
	top: calc(100% + 4px);
	width: 199px;
	padding: 16px;
	background: #222;
	border-radius: 8px;
	transition: all 0.4s ease-in-out;
	transform: translateX(200%) rotate(90deg);
	opacity: 0;
	pointer-events: none;
	&.active {
		transform: translateX(0) rotate(0deg);
		opacity: 1;
		pointer-events: all;
	}
	&__list {
		padding: 0 0 16px;
		margin: 0 0 16px;
		border-bottom: 1px solid #111;
		& .popup-header__link:not(:last-child) {
			margin: 0 0 16px;
		}
	}
	&__link {
		display: block;
		padding: 0 0 0 28px;
		font-size: 16px;
		line-height: normal;
		position: relative;
		color: #bbb;
		&:hover {
			color: #fff;
			.popup-header__icon {
				fill: #fff;
			}
		}
	}
	&__icon {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 20px;
		height: 20px;
		fill: #bbb;
		transition: all 0.2s;
	}

	@media (max-width: 767px) {
		width: 100%;
		top: 100%;
		right: 0;
		background: #111;
		border-radius: 0;
		transform: translateX(0) rotate(0);
		display: grid;
		grid-template-rows: 0fr;
		transition: all 0.3s;
		opacity: 1;
		pointer-events: all;
		overflow: hidden;
		padding: 0;
		&__wrapper {
			min-height: 0;
		}
		&__list {
			padding: 16px;
		}
		&.active {
			grid-template-rows: 1fr;
			opacity: 1;
			// padding: 16px;
		}
		&__link_logout {
			margin: 0 16px 16px;
		}
	}
}
