.profile-header {
	display: flex;
	align-items: center;
	padding: 7px 10px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s;
	border: 1px solid transparent;
	position: relative;
	&:hover {
		border: 1px solid #222;
	}
	&.active {
		background: #222;
	}
	&__avatar-wrap {
		flex: 0 0 24px;
		height: 24px;
		background: grey;
		overflow: hidden;
		border-radius: 50%;
		margin: 0 10px 0 0;
	}
	&__avatar {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__name {
		font-size: 16px;
		color: #bbb;
	}
	@media (max-width: 767px) {
		order: 2;
		width: 100%;
    padding: 14px 16px;
		border-radius: 0;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 44%;
			right: 16px;
			transform: translateY(-50%) rotate(45deg);
			width: 8px;
			height: 8px;
			border: 2px solid #fff;
			border-width: 0 2px 2px 0;
			transition: all .2s;
		}
		&:hover {
			background: #222;
			box-shadow: none;
		}
		&.active {
			background: #111;
			&::after {
				top: 50%;
				transform: translateY(-50%) rotate(225deg);
			}
			&:hover {
				background: #111;
			}
		}
		&__name {
			color: #fff;
		}
	}
}
