.sing-in {
	&__input-list{
		margin-bottom: 35px;
	}
	&__footer{
		margin-bottom: 40px;
	}
}

.forgot-text {
	text-align: center;
	line-height: normal;
	margin-bottom: 40px;
	span {
		font-weight: 600;
	}
}