.body-auth {
	width: 40.322%;
	background: #111;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 24px 48px;
	&__row {
		flex-direction: column;
	}
	&__logo-wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 32px;
	}
	&__form {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		padding: 0 0 50px;
	}
	&__form-body {
		width: 100%;
		max-width: 420px;
		// position:relative;
	}
	@media (max-width: 992px) {
		width: 100%;
		padding: 24px 16px;
	}

}