.personal-auth {
	margin: 0 auto;
	padding: 48px 16px;
	max-width: 452px;
	&__button-wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
		padding: 0 16px;
	}
	@media (max-width: 575px) {
		padding: 40px 16px;
		&__button-wrap {
			padding: 0;
		}
	}
}
