.sing-in {
	&__input-list{
		margin-bottom: 35px;
	}
	&__footer{
		margin-bottom: 40px;
	}
}

.personal-auth {
	margin: 0 auto;
	padding: 48px 16px;
	max-width: 452px;
	&__button-wrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
	}
	@media (max-width: 575px) {
		padding: 40px 16px;
	}
}
